<p id="notice"><%= notice %></p>

<h1>Cobradors</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Onibus</th>
      <th>Salario</th>
      <th>Data inicio ser</th>
      <th>Datanasc</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobradors.each do |cobrador| %>
      <tr>
        <td><%= cobrador.cpf %></td>
        <td><%= cobrador.onibus %></td>
        <td><%= cobrador.salario %></td>
        <td><%= cobrador.data_inicio_ser %></td>
        <td><%= cobrador.datanasc %></td>
        <td><%= cobrador.empresa %></td>
        <td><%= link_to 'Show', cobrador %></td>
        <td><%= link_to 'Edit', edit_cobrador_path(cobrador) %></td>
        <td><%= link_to 'Destroy', cobrador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobrador', new_cobrador_path %>
