<h1>Projeto BD</h1>
<%= link_to 'Empresas', controller: 'empresas' %><br>
<%= link_to 'Ônibus', controller: 'onibuses' %><br>
<%= link_to 'Usuarios', controller: 'usuarios' %><br>
<%= link_to 'Linhas', controller: 'linhas' %><br>
<%= link_to 'Metros', controller: 'metros' %><br>
<%= link_to 'Cobradores', controller: 'cobradors' %><br>
<%= link_to 'Condutores', controller: 'condutors' %><br>
<%= link_to 'Cartões', controller: 'cartaos' %><br>
<%= link_to 'Estacao_Metros', controller: 'estacao_metros' %><br>
<%= link_to 'Estações', controller: 'estacaos' %><br>
<%= link_to 'Itinerários', controller: 'itinerarios' %><br>
<%= link_to 'Itinerários_Metro', controller: 'itinerario_metros' %><br>
<%= link_to 'Linha_cartões', controller: 'linha_cartaos' %><br>
<%= link_to 'Linha_metros', controller: 'linha_metros' %><br>
<%= link_to 'Linhas', controller: 'linhas' %><br>