<h1>Projeto BD</h1>
<%= link_to 'Empresas', controller: 'empresas' %><br>
<%= link_to 'Ônibus', controller: 'onibuses' %><br>
<%= link_to 'Usuarios', controller: 'usuarios' %><br>
<%= link_to 'Linhas', controller: 'linhas' %><br>
<%= link_to 'Metros', controller: 'metros' %><br>
