<p id="notice"><%= notice %></p>

<h1>Condutores</h1>

<table>
  <thead>
    <tr>
      <th>Cpf</th>
      <th>Onibus</th>
      <th>Salario</th>
      <th>Data inicio serv</th>
      <th>Datanasc</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @condutors.each do |condutor| %>
      <tr>
        <td><%= condutor.cpf %></td>
        <td><%= condutor.onibus %></td>
        <td><%= condutor.salario %></td>
        <td><%= condutor.data_inicio_serv %></td>
        <td><%= condutor.datanasc %></td>
        <td><%= condutor.empresa %></td>
        <td><%= link_to 'Show', condutor %></td>
        <td><%= link_to 'Edit', edit_condutor_path(condutor) %></td>
        <td><%= link_to 'Destroy', condutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condutor', new_condutor_path %>
<%= link_to 'Back', welcome_index_path %>
