<p id="notice"><%= notice %></p>

<h1>Onibuses</h1>

<table>
  <thead>
    <tr>
      <th>Data fabricacao</th>
      <th>Qtd passageiros</th>
      <th>Ultima revisao</th>
      <th>Empresa</th>
      <th>Linha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onibuses.each do |onibus| %>
      <tr>
        <td><%= onibus.data_fabricacao %></td>
        <td><%= onibus.qtd_passageiros %></td>
        <td><%= onibus.ultima_revisao %></td>
        <td><%= onibus.empresa %></td>
        <td><%= onibus.linha %></td>
        <td><%= link_to 'Show', onibus %></td>
        <td><%= link_to 'Edit', edit_onibus_path(onibus) %></td>
        <td><%= link_to 'Destroy', onibus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onibus', new_onibus_path %>
